extends ../../layouts/default.pug
include ../../mixins/parent-category

block main
  #content-wrapper.d-flex.flex-column
    // Main Content
    #content
      // Topbar
      include ../../partials/topbar.pug
      .container.text-center
        h2.m-3 Sửa sản phẩm
      - if (role.permissions.includes("role-product-add"))
        .container 
          form(class="form-group"  action=`/admin/products/edit/${product._id}?_method=PATCH` method="POST" enctype="multipart/form-data")
            .mb-3
              label.form-label(for='title') Tiêu đề 
              input.form-control(type='text' name="title" value=product.title required id="title")
            .mb-3
              label.form-label(for='description') Mô tả
              textarea.form-control(rows="2" name="description" id="description") !{product.description}
            .mb-3 
                label(class="form-label") Danh mục sản phẩm
                select(name="productCategoryId"  class="form-control")
                    option(value="" selected ) ----- Chọn danh mục -----
                    +parent-category(productCategorys,1,product.productCategoryId)
            .mb-3
              label.form-label(for='price') Gía 
              input.form-control(type='number' min="0" name="price" value=product.price required id="price")
            .mb-3
              label.form-label(for='discountPercentage') Tỷ lệ chiết khấu
              input.form-control(type='number' name="discountPercentage" value=product.discountPercentage min="0" required id="discountPercentage")
            .mb-3
              label.form-label(for='stock') Số lượng 
              input.form-control(type='number' name="stock" value=product.stock required min="1" id="stock")
            .mb-3 
              .form-check-inline
                label(for="trend" class="form-check-label")
                  input(type="radio" class="form-check-input" checked=(product.type==="trend"?true:false) id="trend" name="type" value="trend") 
                  span HOT TREND
              .form-check-inline
                label(for="seller" class="form-check-label") 
                  input(type="radio" class="form-check-input" checked=(product.type==="seller"?true:false) id="seller" name="type" value="seller") 
                  span BEST SELLER
              .form-check-inline
                label(for="feature" class="form-check-label") 
                  input(type="radio" class="form-check-input" checked=(product.type==="feature"?true:false)  id="feature" name="type" value="feature") 
                  span FEATURE 
              .form-check-inline
                label(for="normal" class="form-check-label") 
                  input(type="radio" class="form-check-input" checked=(product.type==="normal"?true:false)  id="normal" name="type" value="normal") 
                  span NORMAL
            .mb-3 
              .form-check-inline
                label(for="active" class="form-check-label")
                  input(type="radio" class="form-check-input" id="active" checked=(product.status==="active"?true:false) name="status" value="active") 
                  span Hoạt động
              .form-check-inline
                label(for="inactive" class="form-check-label") 
                  input(type="radio" class="form-check-input" id="inactive" checked=(product.status==="inactive"?true:false) name="status" value="inactive") 
                  span Dừng hoạt động 
            div(class="mb-3" upload-image) 
                label(class="form-label d-block") Ảnh chính
                input(type="file" accept="image/*" class="form-file d-block" name="thumbnail" upload-image-input)
                div
                    div(class = "" close-image-upload) x 
                    img(src=product.thumbnail  alt="" upload-image-preview width="200px" class="d-inline" max-height="200px")
            .mb-3( upload-images)   
                label(class="form-label d-block") Ảnh phụ
                input(type="file" accept="image/*" class="form-file d-block" name="images"  multiple upload-images-input)
                div
                    div(class = "" close-images-upload) x 
                    - if (product.images)
                        each image in product.images
                            img(src=image  alt="" upload-images-preview width="200px" class="d-inline mx-3" max-height="200px")         
            .mb-3
                input(type="submit" ).btn.btn-primary.form-control
      
      // Footer
      footer.sticky-footer.bg-white
        .container.my-auto
          .copyright.text-center.my-auto
            span | Copyright © Your Website 2020

  // Scroll to Top Button
  a#scrollToTopButton.scroll-to-top.rounded(href='#page-top')
    i.fas.fa-angle-up

 
