extends ../../layouts/default.pug

block main
  // Breadcrumb Begin
  .breadcrumb-option
    .container
      .row
        .col-lg-12
          .breadcrumb__links
            a(href='./index.html')
              i.fa.fa-home
              |  Home
            a(href='#') Women&rsquo;s 
            span Essential structured blazer
  // Breadcrumb End
  // Product Details Section Begin
  section.product-details.spad
    .container
      .row
        .col-lg-6
          .product__details__pic
            .product__details__pic__left.product__thumb.nice-scroll
              a.pt.active(href='#product-1')
                img(src=product.thumbnail, alt='')
              each img in product.images 
                a.pt(href='#product-2')
                    img(src=img, alt='')
            
            .product__details__slider__content
              .product__details__pic__slider.owl-carousel
                img.product__big__img(data-hash='product-1', src=product.thumbnail, alt='')
                each img in product.images      
                    img.product__big__img(data-hash='product-2', src=img, alt='')
                
        .col-lg-6
          .product__details__text
            h3
              | #{product.title} 
            .rating
              i.fa.fa-star.mx-1
              i.fa.fa-star.mx-1
              i.fa.fa-star.mx-1
              i.fa.fa-star.mx-1
              i.fa.fa-star.mx-1
              span ( #{reviews.length} )
            .product__details__price $ #{product.price - (product.price*product.discountPercentage/100)}
                - if (product.discountPercentage>0)
                    span $ #{product.price} 
            .product__details__button
              .quantity
                span Quantity:
                .pro-qty
                  input(type='number', value='1')
              a.cart-btn(data-productID = product._id)
                span.icon_bag_alt
                |  Add to cart
              ul
                li
                  a(href='#')
                    span.icon_heart_alt
                li
                  a(href='#')
                    span.icon_adjust-horiz
            .product__details__widget
              ul
                li
                  span Availability:
                  .stock__checkbox
                    label(for='stockin')
                      | In Stock
                      input#stockin(type='checkbox')
                      span.checkmark
                li
                  span Available color:
                  .color__checkbox
                    label(for='red')
                      input#red(type='radio', name='color__radio', checked='')
                      span.checkmark
                    label(for='black')
                      input#black(type='radio', name='color__radio')
                      span.checkmark.black-bg
                    label(for='grey')
                      input#grey(type='radio', name='color__radio')
                      span.checkmark.grey-bg
                li
                  span Available size:
                  .size__btn
                    label.active(for='xs-btn')
                      input#xs-btn(type='radio')
                      |                                             xs
                    label(for='s-btn')
                      input#s-btn(type='radio')
                      |                                             s
                    label(for='m-btn')
                      input#m-btn(type='radio')
                      |                                             m
                    label(for='l-btn')
                      input#l-btn(type='radio')
                      |                                             l
                li
                  span Promotions:
                  p Free shipping
        .col-lg-12
          .product__details__tab
            ul.nav.nav-tabs(role='tablist')
              li.nav-item
                a.nav-link.active(data-toggle='tab', href='#tabs-1', role='tab') Description
              li.nav-item
                a.nav-link(data-toggle='tab', href='#tabs-2', role='tab') Reviews
            .tab-content
              #tabs-1.tab-pane.active(role='tabpanel')
                p !{product.description}
              #tabs-2.tab-pane(role='tabpanel')
                h6 Reviews 
                ul.list-review 
                 each review in reviews   
                  li.row 
                    .col-1
                      img(src=review.user.avatar width="65px" height="65px"  alt="")
                    .col-10
                        h5 Trinh Dinh Hoang
                        .date 
                          span #{review.date}
                        .rating
                         - for(let i=0;i<review.rating;i++)
                          i.fa.fa-star.mx-1                        
                        .cmt-img 
                          each img in review.images 
                            img(src=img width="165px" height="165px" class="mr-3"  alt="")
                        .comment 
                          span #{review.comment}


                 
      .row
        .col-lg-12.text-center
          .related__title
            h5 RELATED PRODUCTS
        each item in products
            .col-lg-3.col-md-4.col-sm-6
                .product__item
                    .product__item__pic.set-bg(data-setbg=item.thumbnail)
                        - if(item.stock===0)
                            .label.stockout out of stock
                        - else if (item.discountPercentage>0)
                            .label.sale -#{item.discountPercentage}%
                        ul.product__hover
                            li
                                a.image-popup(href=item.thumbnail)
                                    span.arrow_expand
                            li
                                a(href='#')
                                    span.icon_heart_alt
                            li
                                a()
                                    span.icon_bag_alt(data-productId = item._id)
                    .product__item__text
                        h6
                            a(href='#') Buttons tweed blazer
                        .rating
                            i.fa.fa-star.mx-1
                            i.fa.fa-star.mx-1
                            i.fa.fa-star.mx-1
                            i.fa.fa-star.mx-1
                            i.fa.fa-star.mx-1
                        .product__price $ #{item.price-(item.price*item.discountPercentage)/100}
                            - if (item.discountPercentage > 0)
                                span $ #{item.price} 
        
  // Product Details Section End
  // Instagram Begin
  .instagram
    .container-fluid
      .row
        .col-lg-2.col-md-4.col-sm-4.p-0
          .instagram__item.set-bg(data-setbg='/img/instagram/insta-1.jpg')
            .instagram__text
              i.fa.fa-instagram
              a(href='#') @ ashion_shop
        .col-lg-2.col-md-4.col-sm-4.p-0
          .instagram__item.set-bg(data-setbg='/img/instagram/insta-2.jpg')
            .instagram__text
              i.fa.fa-instagram
              a(href='#') @ ashion_shop
        .col-lg-2.col-md-4.col-sm-4.p-0
          .instagram__item.set-bg(data-setbg='/img/instagram/insta-3.jpg')
            .instagram__text
              i.fa.fa-instagram
              a(href='#') @ ashion_shop
        .col-lg-2.col-md-4.col-sm-4.p-0
          .instagram__item.set-bg(data-setbg='/img/instagram/insta-4.jpg')
            .instagram__text
              i.fa.fa-instagram
              a(href='#') @ ashion_shop
        .col-lg-2.col-md-4.col-sm-4.p-0
          .instagram__item.set-bg(data-setbg='/img/instagram/insta-5.jpg')
            .instagram__text
              i.fa.fa-instagram
              a(href='#') @ ashion_shop
        .col-lg-2.col-md-4.col-sm-4.p-0
          .instagram__item.set-bg(data-setbg='/img/instagram/insta-6.jpg')
            .instagram__text
              i.fa.fa-instagram
              a(href='#') @ ashion_shop
  // Instagram End
  
