extends ../../layouts/default.pug
block main
    // Breadcrumb Begin
    .breadcrumb-option
        .container
            .row
                .col-lg-12
                    .breadcrumb__links
                        a(href='/')
                            i.fa.fa-home
                            |  Home
                        a(href='/profile') Chi tiết đơn hàng
    // Breadcrumb End
    .main-content2
        .title-first.my-3 
        .container 
            .card 
                .card-header Thông tin chi tiết người nhận
                .card-body 
                    h5.card-title Họ và tên người nhận: #{order.userInfo.fullName}
                    h5.card-title Số điện thoại: #{order.userInfo.phone}
                    h5.card-title Địa chỉ: 
                        span.adress-order #{order.userInfo.address}
                    p.card-text Ghi chú: #{order.userInfo.note}      
        .container 
            table(class="table table-hover m-3 text-center")
                thead 
                    tr 
                        th STT
                        th Ảnh sản phẩm
                        th Tiêu đề
                        th Gía
                        th Giảm giá
                        th Số lượng
                        th Tổng tiền
                tbody 
                    each product,index in order.products
                        tr 
                            td #{index}
                            td 
                                img(src=product.thumbnail width="100px" height="100px"  alt="")
                            td #{product.title}
                            td #{product.price}
                            td #{product.discountPercentage}
                            td #{product.quantity}
                            td #{(product.price - (product.price*product.discountPercentage/100))*product.quantity} $
