mixin list-music(songs)
    .product-list.p-0
        each song,index in songs
            .product-item.d-flex 
                .inner-avatar-music.mx-3
                    a(href=`/songs/detail/${song.slug}`) 
                        img(src=song.avatar width="100px" height="100px" alt="")
                .inner-body-music
                    .inner-name-music #{song.title}
                    .inner-singer-music #{song.fullNameSinger}
                - if (favoritesLocal)
                    - if(favoritesLocal.find(item=>item.userId == userInfo.id && item.songId==song._id))
                        button(class="love-music btn p-2 " love-music data-id-song=song._id) 
                            i(class="fa-solid fa-heart text-danger")
                    - else 
                        button(class="love-music btn p-2" love-music data-id-song=song._id) 
                            i(class="fa-solid fa-heart")
                - else 
                    button(class="love-music btn p-2" love-music data-id-song=song._id) 
                        i(class="fa-solid fa-heart")
                - if (userInfo)
                    - if(song.like.includes(userInfo.id))
                        button(class="like-music btn p-2" like-music data-id-song=song._id) 
                            span.ml-1 #{song.like.length}
                            i(class="fa-solid fa-thumbs-up text-secondary")
                    - else 
                        button(class="like-music btn p-2" like-music data-id-song=song._id) 
                            span.ml-1 #{song.like.length}
                            i(class="fa-solid fa-thumbs-up")
                - else 
                    button(class="like-music btn p-2" like-music data-id-song=song._id)
                        span.ml-1 #{song.like.length} 
                        i(class="fa-solid fa-thumbs-up")
            