extends ../../layouts/default.pug
block main
    .main-content2
        .title-first.my-3 
            h5 Chi tiết bài hát
        .title-music.m-3
            h2 #{song.title}
        
        .action-music.my-3
            ul.d-flex.justify-content-evenly
                li 
                    a( class="btn")
                        i( class="fa-regular fa-clock")
                        span.mx-1 #{song.dateTime}
                li 
                    a(class="btn" )
                        i( class="fa-solid fa-headphones")
                        span.mx-1.views-music #{song.views}
                        span Lượt nghe
                li 
                    a( class="btn") 
                        i(class="fa-solid fa-microphone")
                        span.mx-1 #{song.fullNameSinger}
                li 
                    - if (favoritesLocal)
                        - if(favoritesLocal.find(item=>item.userId == userInfo.id && item.songId==song._id))
                            a(class="btn " love-music data-id-song=song._id) 
                                i(class="fa-solid fa-heart text-danger")
                                span.mx-1 Yêu thích 
                        - else
                            a(class="btn " love-music data-id-song=song._id) 
                                i(class="fa-solid fa-heart")
                                span.mx-1 Yêu thích 
                    - else 
                        a(class="btn " love-music data-id-song=song._id) 
                            i(class="fa-solid fa-heart")
                            span.mx-1 Yêu thích 
                li  
                    - if(userInfo)
                        - if(song.like.includes(userInfo.id))
                            button(class="btn" like-music data-id-song=song._id) 
                                span.mx-1 #{song.like.length}
                                i(class="fa-solid fa-thumbs-up text-secondary")
                        - else
                            button(class="btn" like-music data-id-song=song._id) 
                                span.mx-1 #{song.like.length}
                                i(class="fa-solid fa-thumbs-up")
                    - else
                        button(class="btn" like-music data-id-song=song._id) 
                            span.mx-1 #{song.like.length}
                            i(class="fa-solid fa-thumbs-up")
                                
                               
        .inner-play.row.my-3 
            .inner-avatar.col-4 
                img(src=song.avatar width="80%" height="200px" alt="")
            div(data-song = song).inner-audio.col-8 
                div(id="aplayer")
        .inner-lyrics 
            h2 Lời bài hát 
            div !{song.lyrics}
        
            
                   
                         

